body {
  max-width: 100%;
  height: 100%;
  margin:0;
  overflow-x: hidden;
}
.sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;

}

.sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

.sidebar-wrapper .list-group {
  width: 15rem;
  padding-left: 0;
  margin-left: 0;
}

.page-content-wrapper {
  min-width: 100vw;
}

.mwrapper.toggled .sidebar-wrapper {
  margin-left: 0;
}
.mwrapper .pmenutit{
  display: flex;
  font-weight: normal;
  font-size: 32px;
  border-bottom: groove;
}
.mwrapper .pmenutit span{
   margin: auto auto;
}
.mwrapper .prodsmenu{
  width: 15rem;
}
.mwrapper ul{
  padding-left: .9em;
}
.mwrapper ul li{
  list-style: none;
  cursor: pointer;
  padding: .1em;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.mwrapper .prodsmenu li{
  margin-left: .1rem;
  border-bottom: solid 1px rgba(0,0,0,0.2);
}
.mwrapper .prodsmenu li.categoria .ctitulo{
  font-weight: bold;
}
.mwrapper .prodsmenu li .sublevel .stitulo{
  font-style: italic;
}
.mwrapper .prodsmenu li:hover{
  background-color: rgba(0,0,0,0.1);
  border-bottom: solid 1px rgba(0,0,0,0.7);
}

.sp-cargando{
  display: flex;
  vertical-align: middle;
}
.sp-cargando .sp-cont{
  margin: auto auto;
  text-align: center;
  width: 60px;
}
.sp-cargando span.txtcargando{
  width: 100%;
}

.prodlist .productos{
  min-height: calc(100vh - 140px);
  display: block;
}
.prodlist .productos .proditem{
  margin: auto auto;
  margin-top: .5rem;
}
.clitem-row{
  border-bottom: solid 10px rgba(0,0,0,0.3);
}

.prodlist .minitxt{
  width: 10px;
  max-width: 30px;
}
@media (min-width: 768px) {
  .sidebar-wrapper {
    margin-left: 0;
  }

  .page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  .mwrapper.toggled .sidebar-wrapper {
    margin-left: -15rem;
  }
}
