<div class="list-group">
	{{if ~arraylength(productos)>0}}
		{{for productos}}
		<div class="list-group-item">
		  <button type="button" class="btn btn-light sclbtn" data-action="del" data-target="{{:id}}"><span class="fa fa-trash"></span></button>
		  <button type="button" class="btn btn-light sclbtn" data-action="dec" data-target="{{:id}}"><span class="fa fa-minus"></span></button>
		  <button type="button" class="btn btn-light sclbtn" data-action="inc" data-target="{{:id}}"><span class="fa fa-plus"></span></button>
		  <span title="{{:price}}" style="margin:auto auto; font-weight: bolder;">{{:name}} </span>
		  <div class="float-right"><span class="badge badge-success">{{:cantidad}}</span></div>
		</div>
		{{/for}}
		<div class="list-group-item">
		  <div class="float-right"><span class="">${{:~root.total}}</span> MXN</div>
		</div>
	{{else}}	
		<div class="list-group-item">
		  <span style="margin:auto auto; font-weight: bolder;"><span class="fa fa-heart-broken fa-2x"></span> Tu carrito está vacío.</span>
		</div>
	{{/if}}
</div>