<div class="row">
	{{for productos}}
	<div class="card proditem" data-precio="{{:~formatprice(price)}}" data-name="{{:name}}" data-unids="{{:quantity}}" data-disp="{{:available}}" data-id="{{:id}}" style="width: 23rem;">
	  <div class="card-body">
	  	
	    <h5 class="card-title">{{:name}}<div class="float-right" title="Existencia"><span class="badge badge-pill badge-success">{{:quantity}}</span></div></h5>
	    <h6 class="card-subtitle mb-2 text-muted">${{:~formatprice(price)}}</h6>
	    <img class="card-img-middle" src="{{:~getImageurl('pizza.png')}}" width="50%">
	    <button data-id="{{:id}}" data-name="{{:name}}" data-available="{{:available}}" data-quantity="{{:quantity}}" data-price="{{:~formatprice(price)}}" type="button" class="btn btn-light" {{if available == false}}disabled title="Por el momento '{{:name}}' no se encuentra disponible, disculpe." style="cursor: not-allowed;" {{/if}}><span class="fa fa-shopping-cart"></span> Agregar</button>
	  </div>
	</div>
	{{/for}}
</div>