{{for categories}}
	<li class="level categoria" data-categid="{{:id}}" data-target="{{:name}}" data-level="1"><div class="ctitulo">{{:name}}</div>
		{{if ~arraylength(sublevels)>0}}
			<ul>
			{{for #data.sublevels}}
				<li class="level sublevel slv-1" data-sublevid="{{:id}}" data-target="{{:name}}" data-level="2"><div class="stitulo">{{:name}}</div>
					{{if ~arraylength(sublevels)>0}}
						<ul>
						{{for sublevels}}
							<li class="level sublevel slv-2" data-sublevid="{{:id}}" data-target="{{:name}}" data-level="3"><div>{{:name}}</div></li>
						{{/for}}
				    	</ul>
				   	{{else}}
				   		<!--<form>
				   			<input type="text" placeholder="buscar en {{:name}}" name="">
				   		</form> -->
					{{/if}}
				</li>
			{{/for}}
			</ul>
		{{/if}}
	</li>

{{/for}}